Math Monkeys/Resources/users.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="Users">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="user">
					<xs:complexType>
						<xs:sequence>
							<xs:element name = "Type" type="xs:string"/>
							<xs:element name = "ID" type="xs:string"/>
							<xs:element name = "Name" type="xs:string"/>
							<xs:element name = "LoginDate" type="xs:string"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>